.card {
  max-width: 180px;
  border: 20px solid #421212;
  background-color: #492121;
  cursor: pointer;
}
.card img {
  max-width: 180px;
  object-fit: contain;
}

.card:hover {
  border: 20px solid #b13737;
  background-color: #5a3030;
}
